/* ----- GENERAL CSS  ----- */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  html {
    font-family: 'Heebo';
  }
  body {
    background: #eee;
    padding: 0 -1rem;
  }
  
  header {
    font-family: 'Kanit', sans-serif;
    background-color: #9DB9D2;
    margin: auto -16px;
    padding: 4px 32px;
  }
  
  header h2 {
    color: #fff;
    font-weight: 400;
    font-size: 3rem;
    padding-left: 1.5rem;
  }

  form {
    position: relative;
    background: #fff;
    padding: 3rem 3rem 2rem 3rem;
    background-color: #D9D9D9;
    margin: auto 30%;
    border-radius: 0.5rem;
  }
  form input,
  form textarea {
    width: 100%;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    outline: none;
    font-size: 1.5em;
    font-family: inherit;
    resize: none;
    margin: 1rem auto;
  }

  .button-container input:hover {
    background-color: rgb(43, 43, 44);
    border-color: rgb(43, 43, 44);
  }

  .button-container {
    padding-top: 5%;
  }

  .input-label {
    font-size: 1.5rem;
  }

  .gray-box h1 {
    font-size: 4rem;
    padding-top: 10%;
  }
  .gray-box p {
    font-size: 2.5rem;
    padding-bottom: 6rem;
  }

  .gray-box {

    border-color: rgb(138, 137, 137);;
    border-radius: 0.5rem;
    
  }

  .error {
    padding-bottom: 1rem;
    color: red;
    font-size: 1.5rem;
  }

  /* ----- PADDING PAGE  ----- */

  .padding-top-64 {
    padding-top: 4rem;
  }

  .padding-top-128 {
    padding-top: 8rem;
  }

  .padding-bottom-16 {
    padding-bottom: 1rem;
  }

  .padding-bottom-24 {
    padding-bottom: 1.5rem;
  }

  .padding-bottom-32 {
    padding-bottom: 2rem;
  }

  /* ----- LOGIN PAGE  ----- */

  .password-button {
    background-color: #545454;
    color: #fff;
    font-size: 1.2rem;
    width: 11rem;
    height: 3rem;
    margin-bottom: 5%;

    border-color: #545454;
    border-radius: 0.5rem;
  }

  .login-header {
    text-align: center;
    font-family: 'Heebo';
    font-size: 2rem;
  }

  .login-button {
    background-color: #545454;
    color: #fff;
    font-size: 1.8rem;
    width: 11rem;
    height: 4rem;
    margin-bottom: 5%;

    border-color: #545454;
    border-radius: 0.5rem;
    position: relative;
    left: 30%
  }

  .login-button:hover {
    background-color: rgb(43, 43, 44);
    border-color: rgb(43, 43, 44);
  }

  .login-select {
    width: 100%;
    background-color: #fff;
    outline: none;
    font-size: 1.5rem;  
    border-color: #545454;
    border-width: thin;
  }

  .home-button {
    left: 0;
  }

  .login-success {
    text-align: center;
    font-size: larger;
    padding-top: 2rem;
  }

  form {
    position: relative;
    width: 480px;
    margin: 30px auto 20px auto;
    background: #fff;
    padding: 2rem 2rem 1rem 2rem;
    border-radius: 0.5rem;
  }

  .welcomeform {
    position: relative;
    width: 100;
    margin-left: auto;
    background: #D9D9D9;
    padding: 2rem 2rem 1rem 2rem;
    border-radius: 0.5rem;
    box-shadow: 0 1px 5px rgb(138, 137, 137);
  }
  .welcomeform input,
  .welcomeform textarea {
    width: 100%;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    outline: none;
    font-size: 1.2em;
    font-family: inherit;
    resize: none;
    margin: 1rem auto;
  }

  .App {
    text-align: center;
  }
  
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
  }
  
  .App-header {
    background-color: #222;
    height: 150px;
    padding: 20px;
    color: white;
  }
  
  .App-title {
    font-size: 1.5em;
  }
  
  .App-intro {
    font-size: large;
  }
  
  @keyframes App-logo-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
  }

  .welcome-button {
    background-color: #545454;
    color: #fff;
    font-size: 1.8rem;
    width: 11rem;
    height: 4rem;
    margin-bottom: 5%;

    border-color: #545454;
    border-radius: 0.5rem;
  }

  .button-container input:hover {
    background-color: rgb(43, 43, 44);
    border-color: rgb(43, 43, 44);
  }

  .flex-container {

    display: flex;
    align-items: stretch;

  }

  .schedulerform {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 300px;
    width: 8em;
    width: 50%;
    padding: 10px;
  }
  .schedulerform input,
  .schedulerform textarea {
    width: 100%;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    outline: none;
    font-size: 1.2em;
    font-family: inherit;
    resize: none;
    margin: 1rem auto;
  }

  /* ----- NAVBARS  ----- */

  .navbar {
    background-color: #9DB9D2 !important;
  }

  .navbar-brand {
    color: #fff !important;
    text-decoration: none !important;
    display: inline-block;
    position:relative;
    left: 1%;
    font-size: 3rem !important;
  }

  .navbar-collapse {
    display: inline-block !important;
  }

  .navbar-items-admin {
    position: relative !important;
    left: 24% !important;
  }

  .navbar-items-staff {
    position: relative !important;
    left: 40% !important;
  }

  .navbar-items-client {
    position: relative !important;
    left: 40% !important;
  }

  .navbar-item {
    color: #fff !important;
    text-decoration: none !important;
    margin: auto 1.25rem !important;
    font-size: 1.5rem !important;
  }

   /* ----- REGISTER PAGE  ----- */

   .register-gray-box {
    width: 40%;
    background-color: #D9D9D9;
    position: relative;
    left: 30%;
   }

   .register-user-button {
    margin-top: 5%;
    background-color: #545454;
    color: #fff;
    font-size: 1.8rem;
    width: 14rem;
    height: 5rem;
    margin-bottom: 5%;

    border-color: #545454;
    border-radius: 0.5rem;
    position: relative;
    left: 35%
  }

  .register-pet-button {
    margin-bottom: 5%;
    background-color: #545454;
    color: #fff;
    font-size: 1.8rem;
    width: 14rem;
    height: 5rem;
    margin-bottom: 5%;

    border-color: #545454;
    border-radius: 0.5rem;
    position: relative;
    left: 35%
  }

  .register-button:hover {
    background-color: rgb(43, 43, 44);
    border-color: rgb(43, 43, 44);
  }

  /* ----- REGISTER USER PAGE  ----- */

  .page-marker {
    color: black;
    position: relative;
    left: 38%;
    top: 2rem;
    font-size: 1.5rem;
  }


  /* ----- REGISTER PET PAGE  ----- */

  
  .pet-info-box h1 {
    font-size: 4rem;
    padding-top: 10%;
  }

  .pet-info-box  {

    width: 60rem;
    height: 40rem;
    background-color: #D9D9D9;
    border: 2px solid rgb(43, 43, 44);
    padding: 10px;
    position: relative;
    margin: auto;
    box-sizing: border-box;
    border-color: rgb(43, 43, 44);
    
  }

  .petform-header {
    text-align: center;
    font-family: 'Heebo';
    font-size: 2rem;
  }

/* ----- WELCOME PAGE  ----- */

.welcome-photo {
  border-radius: 5%;
  border-color: var(--bs-body-color);
  border-width: 5px;
  border-style: double;
}

.welcome-label {
  color: var(--bs-body-color);
  font-size: 1.5rem;
  width: 400px; 
  height: 300px;
  display:inline-block;
  margin-left: 5%;
  margin-right: 5%;
  text-align: left;
  padding-left: 30px;
}

  .dozen-label {
    padding-left: 68px;
    width: 400px;
  }

  .grooming-label {
    padding-left: 75px;
    width: 420px;
  }