.box1 {
  border: 3px solid #9DB9D2;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  margin-bottom: 300px;
  width: 8em;
  width: 80%;
  padding: 10px;
}

.box2 {
  border: 3px solid #9DB9D2;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  margin-bottom: 300px;
  width: 8em;
  width: 16%;
  padding: 10px;
}

.box3 {
  border: 3px solid #9DB9D2;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  margin-bottom: 300px;
  width: 8em;
  width: 20%;
  padding: 10px;
}